:root {
    --sans-serif: 'degular', sans-serif;
    --mono: "source-code-pro", monospace;
    --font-size: 14pt;
    --spacing: 1rem;
    --light-grey: #f1f1f1;
    --green: #6B7563;
    --grey: #302D2D;

}
html{
    background-color: var(--light-grey);
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: var(--sans-serif);
    font-size: var(--font-size);
    color: var(--grey);
}

.logo{
    position: fixed;
    z-index: -1;
    width: 25%;
    bottom: 2rem;
    left: 2rem;
    opacity: 1;
    /* transform: scale(100%) rotate(0deg); */
    animation: breathe 2s ease-in-out infinite alternate 1s;
    transition: opacity 500ms ease-in-out 2s;
    /* transition: all 1s cubic-bezier(0.87, 0, 0.13, 1) 0.5s; */



}

.logo.gone{
    opacity:0;
    transition: opacity 500ms ease-in-out;
    /* transform: scale(100%) rotate(-10deg); */
    /* transition: opacity 0.25s cubic-bezier(0.87, 0, 0.13, 1) 0s, transform 1s cubic-bezier(0.87, 0, 0.13, 1) 0.s; */





}


main {
    width: 100%;
    height: 100%;
    padding: calc(2 * var(--spacing));
    display: flex;
    justify-content: space-between;
    /* gap: var(--spacing); */
}

.column-1 {
    width: 50%;
}

.container {
    position: relative;
    height: 100%;
    /* background-color: aqua; */
}

.project-info{
    /* background-color: aqua; */
    position: absolute;
    width: 100%;
    bottom: 0px;
    opacity: 0%;
    transition: opacity 500ms ease-in-out;
}

.project-info.show {
    opacity: 100%;
}

.project-info img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

h1 {
    color: var(--green);
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
    line-height: 0.75em;
    letter-spacing: -1pt;
}

h1:hover {
    text-transform: uppercase;
}

h2{
    margin-bottom: var(--spacing);
}

p{
    font-size: 1rem;
    margin-bottom: 1rem;
}
.project-info p{
    background-color: var(--light-grey);
}
a{
    cursor: url('./assets/cursor-link.svg'),auto;
}
a:hover{
    opacity: 50%;
}

.column-2 {
    width: 50%;

}

.project-list {
    cursor: url('./assets/cursor-scroll.svg'),auto;
    height: 100%;
    overflow-y: scroll;
    text-align: right;
    width: 50%;
    margin-right: 0pt;
    margin-left: auto;
    z-index: 2;
}
.project-list::-webkit-scrollbar{
    display: none;
}


.project-button {
    width: fit-content;
    display: block;
    margin: 0 0 0 auto;
    border-bottom: solid 1px rgba(0, 0, 0, 0);
    padding-bottom: 2rem;
    opacity: 0%;
    transform: translateX(100%);
    
}
.project-button>p{
    margin-bottom: 0;
}
.rule-horizontal{
    height: 1px;
    width: 100%;
    background-color: black;
    margin-top: var(--font-size);
    transform: scaleX(0%);
    transform-origin: right;
    transition: transform 250ms linear;
}
/* for intersection observer */
.project-button.show {
    opacity: 100%;
    transform: translateX(0%);
    transition: all 250ms linear;

}

.project-button:hover {
    transform: translateX(calc(-2 * var(--spacing)));
    transition: transform 250ms ease-in-out;

}
.project-button:hover > .rule-horizontal{
    transform: scaleX(100%);
}